
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
   
   background-color: brown;
   height: 100vh; 
   border: 3px solid black;
   display: grid;
   grid-template-columns: 150px 1fr;
   grid-template-rows: 50px 1fr 50px;
   gap:10px
   
}
.box1{
    background-color: blueviolet;
    border: 2px solid black;

}
#box_1{
    grid-column-start: 1;
    grid-column-end: 4;
}

#box_4{
    grid-column-start: 1;
    grid-column-end: 4;
}